/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header, footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .logo img {
    margin-bottom: 10px;
  }
  
  /* Button styles */
  nav {
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav li a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  nav li a:hover {
    background-color: #2980b9;
  }
  
  footer {
    text-align: center;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  video {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* Table styles */
  table {
    width: 80%; /* Adjust table width as needed */
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd; /* Add border to the table */
  }
  
  th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2; /* Background color for table header */
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  